/* Importing the font*/
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

/* Author:Suman Roy
   github:Suman373 
   */
/* CSS reset */
*,
*::after,
*::before{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.html{
    scroll-behavior: smooth;
    overflow-x: hidden;
  
}
/* Variables */

:root{
    --font:rgb(216, 135, 216);
}

h1{
    font-size:3rem;
}
p{
    font-size:1.5rem;
}
/* The body  */

body{
    min-height: 100%;
    font-family: 'Neucha', cursive;
    width:100%;
    color:var(--font);
    background: rgba(10, 10, 10);
    position: relative;
    overflow-x: hidden;
}

/* The navigation panel */
.nav{
    display:flex;
    position: fixed;
    width: 100%;
    z-index: 999;
    height:5rem;
    background: rgba(0, 0, 0,0.95);
    min-width:calc(100vw - 50%);
    justify-content: flex-end; 
}


.nav-item{
    margin:1.5rem 1rem;
    font-size:1.3rem;
    text-decoration: none;
    color:violet;
    font-weight:800;  
}
.nav a{position: relative;}
.nav a:hover{
    color:rgb(197, 197, 45);
}
.nav a::after{
    content:"";
    position: absolute;
    bottom:0;
    left:0;
    height:2px;
    width:0;
    background: rgb(197, 197, 45);
}
.nav a:hover::after{
    transition: all 300ms ease;
    width:100%;
}

#logo img{
    position: fixed;
    left:0;
    height:5rem;
    width:5rem;
}

#hamburger{
    display: none;
}

/* scroller */
.scroll h4{
    color:white;
    text-shadow: 0 0 4px violet;
    position: fixed;
    top:9rem;
    left:-2rem;
    animation: jump 1000ms ease infinite;
}
@keyframes jump{
    0%{transform:rotate(-90deg) translateX(5px);}
    50%{transform:rotate(-90deg) translateX(-5px);}
    100%{transform:rotate(-90deg) translateX(5px);}
}

.banner-text{
    width: 100%;
    position: absolute;
    top:17rem;
    text-align: center;
}
.banner-text h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 4rem;
    font-weight: 800;
    -webkit-text-stroke: 2px rgb(221, 221, 13);
    color:transparent;
}
.banner img{
    height:100vh;
    width:70rem;
    margin:auto;
    padding-top:2rem;
    display: flex;
}

@media screen and (max-width:1050px){
    .banner-text{
        display: none;
    }
}

/* The home */

.Home{
    margin:4rem auto;
    padding-top:2rem;
    height: 20rem;
    width:80%;
    text-align: center;
    border-radius:10px;
    color:var(--font);
}
/* Stroke for all the headings h1 goes here */
.Home h1,
.About h1,
.Heroes h1,
.Feedback h1{
    color:transparent;
    -webkit-text-stroke: 1px var(--font);
}
.Home p{
    margin-top:2rem;
    padding-top:1rem;
}

/* Heroes */
.Heroes{
    margin:0 auto;
    width:80%;
    text-align: center;
    color:var(--font);
    /* box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); */
}
.Heroes p{
    margin-top:20px;
}

/* IRON MAN PART */
.Ironman{
    width:100%;
    margin:1rem auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    justify-content: center;

}
#stark1{
    background: url('./images/src/TonyStark.jpeg') no-repeat center/cover;
}
#stark2{
    background: url('./images/src/TonyStark1.jpg') no-repeat center/cover;
}
#stark3{
    background: url('./images/src/TonyStark2.jpeg') no-repeat center/cover;
}
/* THe cards and infos are almost same for all the heroes
which will be applied to all other divs too */

.cards{
    height:20rem;
    width:20rem;
    margin:1rem;
    border-radius:8px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
.cards{
    position: relative;
    box-shadow:0 0 10px white inset,
    10px 10px 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transform-style: preserve-3d;
}
.cards::before{
    content:'';
    position: absolute;
    top:0;
    left:-300px;
    width:10rem;
    height:100%;
    background: rgba(231, 226, 226, 0.26);
    transform:skewX(45deg);
}
.cards:hover:before{
    left:500px;
    transition: 500ms;
}
.cards:nth-child(2n):hover{
    transform:scale(1.008);
    transform: rotateY(2deg)
    rotateX(-10deg)
    rotateZ(1deg);
}
.cards:nth-child(2n+1):hover{
    transform:scale(1.008);
    transform: rotateY(-2deg)
    rotateX(10deg)
    rotateZ(-1deg);
}


/* The Captain America division */
/* The heroes have the same class thereby using one styling for each heroes making it easier to change and fix things  */
.Captain-America,
.Thor,
.Hulk,
.Black-widow,
.Black-Panther,
.Wanda,
.Vision,
.Bucky,
.Falcon,
.Strange,
.Spiderman,
.Antman,
.Marvel,
.Hawkeye,
.Fury,
.Warmachine{
    width:100%; 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
#cap1{
    background: url('./images/src/Cap3.jpg') no-repeat center/cover;
}
#cap2{
    background: url('./images/src/Cap1.jpg') no-repeat center center/cover;
}
#cap3{
    background: url('./images/src/Cap.jpg') no-repeat center center/cover;
}

/* Thor division */
#thor1{
    background: url('./images/src/Thor1.jpg') no-repeat center center/cover;
}
#thor2{
    background: url('./images/src/Thor4.jpeg') no-repeat center center/cover;
}
#thor3{
    background: url('./images/src/Thor.jpeg') no-repeat center/cover;
}

/* Hulk division */

#hulk1{
    background:url('./images/src/Hulk1.jpg') no-repeat center center/cover;
}
#hulk2{
    background:url('./images/src/Hulk.jpeg') no-repeat center center/cover;
}
#hulk3{
    background:url('./images/src/Hulk2.webp') no-repeat center center/cover;
}

/* Black widow division */

#widow1{
    background: url('./images/src/Widow1.jpeg') no-repeat center center/cover;
}
#widow2{
    background: url('./images/src/Widow.jpeg') no-repeat center center/cover;
}
#widow3{
    background: url('./images/src/Widow2.jpeg') no-repeat center center/cover;
}

/* Hawkeye Division */

#hawkeye1
{
    background: url('./images/src/Hawkeye.jpeg') no-repeat center center/cover;
}
#hawkeye2
{
    background: url('./images/src/Hawkeye1.jpg') no-repeat center center/cover;
}
#hawkeye3
{
    background: url('./images/src/Hawkeye2.jpeg') no-repeat center center/cover;
}

/* War Machine Division */

#warmachine1{
    background:url('./images/src/Warmachine1.jpg') no-repeat center center/cover;
}
#warmachine2{
    background:url('./images/src/Warmachine.jpg') no-repeat center center/cover;
}
#warmachine3{
    background:url('./images/src/Warmachine2.jpg') no-repeat center center/cover;
}

/* Wanda Division */

#wanda1{
    background:url('./images/src/Wanda1.jpg') no-repeat center center/cover;
}
#wanda2{
    background:url('./images/src/Wanda2.jpg') no-repeat center center/cover;
}
#wanda3{
    background:url('./images/src/Wanda.jpeg') no-repeat center center/cover;
}

/* Vision Divison */

#vision1{
    background:url('./images/src/Vision1.jpg') no-repeat center center/cover;
}
#vision2{
    background:url('./images/src/Vision.jpg') no-repeat center center/cover;
}
#vision3{
    background:url('./images/src/Vision2.jpg') no-repeat center center/cover;
}

/* Black Panther Division */

#panther1{
    background:url('./images/src/Panther2.jpg') no-repeat center center/cover;
}
#panther2{
    background:url('./images/src/Panther.jpeg') no-repeat center center/cover;
}
#panther3{
    background:url('./images/src/Panther1.webp') no-repeat center center/cover;
}

/* Falcon Division */


#falcon1{
    background:url('./images/src/Falcon1.jpg') no-repeat center center/cover;
}
#falcon2{
    background:url('./images/src/Falcon.jpeg') no-repeat center center/contain;
}
#falcon3{
    background:url('./images/src/Falcon2.jpeg') no-repeat center center/cover;
}

/* Winter Soldier Division */

#bucky1{
    background:url('./images/src/Bucky1.jpg') no-repeat center center/cover;
}
#bucky2{
    background:url('./images/src/Bucky2.jpg') no-repeat center center/cover;
}
#bucky3{
    background:url('./images/src/Bucky.jpeg') no-repeat center/cover;
}

/* Doctor Strange Division */

#strange1{
    background:url('./images/src/Strange2.jpg') no-repeat center center/cover;
}
#strange2{
    background:url('./images/src/Strange.jpg') no-repeat center center/cover;
}
#strange3{
    background:url('./images/src/Strange1.jpg') no-repeat center/cover;
}

/* Spiderman P.P Division */

#parker1{
    background:url('./images/src/Parker1.jpg') no-repeat center center/cover;
}
#parker2{
    background:url('./images/src/Parker2.jpeg') no-repeat center center/cover;
}
#parker3{
    background:url('./images/src/Parker.jpg') no-repeat center/cover;
}

/* Captain Marvel division */

#marvel1{
    background:url('./images/src/Marvel2.jpg') no-repeat center center/cover;
}
#marvel2{
    background:url('./images/src/Marvel.jpg') no-repeat center center/cover;
}
#marvel3{
    background:url('./images/src/Marvel1.jpg') no-repeat center/cover;
}

/*Ant-Man division */

#antman1{
    background:url('./images/src/Antman1.jpg') no-repeat center center/cover;
}
#antman2{
    background:url('./images/src/Antman.jpeg') no-repeat center center/cover;
}
#antman3{
    background:url('./images/src/Antman2.jpg') no-repeat center/cover;
}

/* Fury Division */

#fury1{
    background:url('./images/src/Fury.jpg') no-repeat center center/cover;
}
#fury2{
    background:url('./images/src/Fury2.jpg') no-repeat center center/cover;
}
#fury3{
    background:url('./images/src/Fury1.jpg') no-repeat center/cover;
}
 
/* About section */

.About{
    text-align:center;
    margin:2rem auto;
    width:88%;
    height:10rem;
    /* box-shadow: 10px 10px 20px rgba(29, 28, 28, 0.5); */
}

/* Feedback section */
.Feedback{
    text-align: center;
    margin:2rem auto;
    width:88%;
    height:10rem;
    /* box-shadow:10px 10px 20px rgba(29, 28, 28, 0.5); */
}

.feedback-form{
    display:block;
    margin:1rem auto;
}
.form-control{
    display:block;
    width:40rem;
    text-align: center;
    margin:5px auto;
    padding:2px;
}
label{
    display: flex;
    align-items: center;
    font-size:2rem;
    margin:10px 10px;
}
input[type="text"],input[type="email"]{
    width:80%;
    background: transparent;
    margin-left:10px;
    color:var(--font);
    font-size:1.2rem;
    padding:10px;
    border:0;
    box-shadow: 0 0 5px rgb(63, 62, 62);
    border-radius: 15px;
}
input[type="text"]:focus,input[type="email"]:focus{
    border-top:none;
    border-bottom:2px solid greenyellow;
}

textarea {
    font-size:1.2rem;
    min-height: 100px;
    background: transparent;
    border:0;
    color:var(--font);
    width:80%;
    box-shadow: 0 0 8px rgb(46, 45, 45);
    border-radius:15px;
    padding:12px;
    resize: vertical;
}
.btn{
    font-size:1.2rem;
    height: 2rem;
    width:6rem;
    text-align: center;
    color:black;
    border-radius: 15px;
    border:2px solid var(--violet);
    background: var(--font);
    cursor: pointer;
}
.btn:hover{
    transform: scaleZ(1.05);
    border:1px solid black;
    box-shadow: 0 0 5px rgba(29, 29, 29, 0.548);
}

/* FOOTER PART */
.Footer{
    text-align: center;
    height:2.7rem;
    width:88%;
    margin:1rem auto;
}
.Footer a{
    text-decoration: none;
}
.contact h3{
    color:rgb(197, 197, 45);
}


/* For responsiveness towards tablet size ranged devices */

@media screen and (max-width:650px){
    html{
        overflow-x: hidden;
    }
    h1{
        font-size:2.5rem;
    }
    p{
        font-size:1.3rem;
        font-weight:600;
        padding:10px;
    }
    .banner{
        margin-top:2px;
        margin-bottom:15px;
        height: 18rem;
        box-shadow: 0 0 10px black;
    }
    .banner img{
        height: 18rem;
        width: 100%;
    }
    #logo img{
        height:4rem;
        width:4rem;
    }
    .Home{
        margin-top:15px;
        margin-bottom: 0;
        width:90%;
    }
    .Heroes{
        margin-top:15px;
        width:90%;
    }
    .cards{
        height:12rem;
        width:12rem;
    }
    label{
        font-size:1.5rem;
    }
    input[type="text"],input[type="email"]{
        width:30rem;
        border:0;
        padding:5px;
        box-shadow: 0 0 3px rgb(31, 29, 29);
        border-radius:10px;
    }
    textarea{
        width:75%;
        padding:10px;
        border:0;
        box-shadow: 0 0 5px rgb(145, 141, 141);
        border-radius: 15px;
    }

    .footnote{
        font-size:1rem;
    }
}

/* for mobile responsivess  */
@media screen and (max-width:460px){
    .banner{
        padding-top:2rem;
    }
    .Home{
        padding-top:2rem;
        margin-bottom: 3rem;
    }
    #logo img{
        top:3px;
        height: 3.5rem;
        width:3.5rem;
        position: fixed;
    }
    .About{
        padding-bottom: 2rem;
    }
    h1{
        font-size: 2rem;
    }
    p{
        font-size:1.2rem;
    }
    /* reseting nav  */
    .nav{
        top:-4px;
        height:3rem;
    }
    .nav a{
        color:transparent;
    }
    /* this is the toggling class */
    .nav-active{
        background: rgba(0, 0, 0, 0.801);
        height:20rem;
        width:100%;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        z-index:1;
        position: fixed;
        transition:  all 500ms ease;
    }
    .nav-active a{
        color:var(--font);
        cursor: pointer;
        font-size: 1.3rem;
    }
    /* the hamburger menu for nav panel in mobile devices */
    #hamburger{
        display: block;
        position: fixed;
        top:10px;
        right:5px;
        height:3.2rem;
        font-size: 1.6rem;
        width:2rem;
        background: transparent;
        border:none;
        cursor: pointer;
        color:var(--font);
        transform: rotate(90deg);
    }
    .nav-item{
        font-size:1rem;
    }

    .form-control{
        width:20rem;
    }
    label{
        font-size:1.4rem;
    }

    .textarea{
        width:16rem;
        left:0;
    }
}
